
@{
    ViewBag.Title = "admin";
}

<h2>admin</h2>


<form method="post">

    <table>
        <tr>
            <td>NAME</td>
            <td><input type="text" name="name" /></td>
        </tr>
        <tr>
            <td>IMAGE</td>
            <td><input type="text" name="image" /></td>
        </tr>
        <tr>
            <td>price</td>
            <td><input type="text" name="price" /></td>
        </tr>
        <tr>
            <td></td>
            <td><button type="submit"> add to cart </button></td>
        </tr>


    </table>

</form>